.header {
    background: rgb(219, 211, 211);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    position: relative;
}
h1{
    position: relative;
    margin: auto;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    left: -120px;
}
.header-list {
    display: flex;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    
}

.header-list li {
    list-style: none;
    font-size: 18px;
    margin: auto 20px;
    font-size: 23px;
}

.header-list li a {
    text-decoration: none;
    color: black;
}

.logo-cover {
    position: relative;
    margin: 5px 0 0 20px;
}
.logo-background{
    position: absolute;
    background-color: rgb(185, 170, 141);
    padding: 10px 5px 15px 5px;
}
